///////////////////////////////////// TYPOGRAPHY
/////////////////////////////////////
h1 {
  margin-bottom:20px;
}
h2 {
  margin-bottom:20px;
  @media @mobile {
    font-size:1.8rem;
  }
}
h3 {
  margin-bottom:20px;
}
h4 {
  margin-bottom:20px;
}

///////////////////////////////////// HELPERS
/////////////////////////////////////

//Remove hyphens on mobile//
@media @mobile {
  h1,h2,h3 {
    -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  }
}

//Font families//
@header:var(--heading-font-font-family);
@body:var(--body-font-font-family);

  // DEFAULT SECTION PADDING
  .section-height--medium > .content-wrapper {
    padding-top: 100px!important;
    padding-bottom: 100px!important;
    @media @mobile {
      padding-top: 50px!important;
    padding-bottom: 50px!important;
    }
}

.section-height--small > .content-wrapper {
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}

//Remove min-height//
.page-section.section-height--medium {
    min-height: 100px!important;
}

.page-section.section-height--small {
min-height: 100px!important;
}

//Colours//
@white:#FFFFFF;
@lightgrey:#F5F5F5;
@orange:#F29C13;
@darkblue:#12203A;
@charcoal:#0A1221;
@darkblue:#011e45;

//MOBILE BREAK POINTS
@mobile:          ~"only screen and (max-width: 750px)";
@tablet: ~"only screen and (min-width:751px) and (max-width:1200px)";
@tablet-strict:   ~"only screen and (min-width: 751px) and (max-width: 949px)";
@tablet-desktop:  ~"only screen and (min-width: 751px)";
@desktop:         ~"only screen and (min-width: 950px)";
@desktop-strict:  ~"only screen and (min-width: 950px) and (max-width: 1199px)";
@desktop-xl:      ~"only screen and (min-width: 1200px)";
@awkward: ~"only screen and (max-width:1350px) and (min-width:1000px)";

// DEATH TO PAGINATION
#itemPagination {
  display:none;
}

// PROPERTY STYLES
.propertyStyles {
   padding:30px 20px;
      /*Title*/
    .property-title {
      margin: 0;
      font-size: 1.2em;
    }
      /*Location*/
      .property-location {
      margin:0;
      }
      /*Price*/
      .property-price {
        margin:20px 0 0;
      }
      /*icons*/
    .property-details {
      display: flex;
      justify-content: flex-start;
      gap:15px;
      margin: 15px 0;

      .details-icon {
        display: flex;
        align-items: center;
        justify-content:center;
        font-size: 0.9em;

        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }
	// BUTTON
    .sh-button {
      display:inline-block;
      border: solid 1px @darkblue;
      text-decoration: none;
      transition: background 0.3s;
      padding: 0.8125rem 1.625rem !important;
      &:hover {
        background: @darkblue;
        color:@white;
      }
    }
}

// IMAGE ZOOM
/* Define the zoom animation */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.ImgZoom {
  .image-block {
    img {
       animation: zoomInOut 20s ease-in-out infinite;
    }
  }
}

@keyframes backgroundZoomInOut {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 110% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

// FADE ANIMATION
.FadeTransition {
  //Color fade//
  -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

//// IMAGE NEXT TO ACCORDION FIX ////

.ImgShape(@aspectRatio: 1000 / 667) {
  .fluid-image-container.sqs-image-content {
    height: auto !important;
    aspect-ratio: @aspectRatio;
  }

  .sqs-image {
    align-items: flex-start !important;
  }
}

//Remove codeblock preview warnings//
.code-block {
  .sqs-blockStatus-box {
    display:none!important;
  }
}

//// BUTTONS ////
.btn,.button,.list-item-content__button,.sh-button,.blog-more-link {
  padding:var(--tertiary-button-padding-y) var(--tertiary-button-padding-x)!important;
  font-size: var(--tertiary-button-font-font-size-value)!important;
}

//Tertiary button as min-width button//
.sqs-button-element--tertiary {
  min-width:50%!important;
}

.sh-button {
      font-weight: var(--primary-button-font-font-weight);
}

// BUTTON SHAPES

/* Pill */
body.primary-button-shape-pill {
  .sh-button,.blog-more-link {
    border-radius: 300px;
  }
}

/* Petal */
body.primary-button-shape-petal {
  .sh-button,.blog-more-link {
    border-top-left-radius: 16px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0px;
  }
}

/* Rounded rectangle */
body.primary-button-shape-rounded,.blog-more-link {
  .sh-button,.blog-more-link {
    border-radius: 7px;
  }
}

/* Oval */
body.primary-button-shape-oval,.blog-more-link {
  .sh-button,.blog-more-link {
    border-radius: 100%;
  }
}

// ANIMATIONS

/*Hover animation*/
.btn,.button,.list-item-content__button,.sh-button,.blog-more-link,.sqs-block-button-element,.newsletter-form-button, .sh-cta p a {
  transition: all 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  
  &:hover {
    opacity: 1 !important;
    -webkit-animation: shadow-drop-and-scale 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-and-scale 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

@-webkit-keyframes shadow-drop-and-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes shadow-drop-and-scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

//// ACCORDIONS ////
.accordion-divider {
    display: none;
}

//// CONTACT FORMS
  // FIELDS
  .field-list {
  display: flex;
  flex-wrap: wrap;
    gap: 0 20px;
}

.field {
  flex: 1 1 100%; // Default to full width //
  box-sizing: border-box;
}
  .fields {
    flex:0 0 100%;
    column-gap:20px!important;
  }

.field.email,
.field.text,
  .field.date,
  .field.time,
  .form-item.phone {
  flex: 1 1 calc(50% - 10px);
}

.field.email + .field.text,
.field.text + .field.email,
.field.email + .field.email,
.field.text + .field.text {
  margin-bottom: 0;
}
  //Date//
  .form-item.field.date > div:nth-child(2) {
    width:100%;
    input {
      max-width:100%;
    }
}
   //Time//
  .form-item.field.time > div:nth-child(2) {
    width:100%;
    input {
      max-width:100%;
    }
}

@media @mobile {
  // On small screens, make them stack again //
  .field.email,
  .field.text {
    flex: 1 1 100%;
  }
}


/////////////////////////////////////// HEADER
///////////////////////////////////////
//// CUSTOM HEADER LAYOUT ////
.cornerstone-header {
#header {
  overflow:hidden;
}
.header-announcement-bar-wrapper {
    padding: 0!important;
}
.header-layout-branding-center-nav-center {
  
.header-display-desktop {
flex-wrap:wrap;
  justify-content:space-between;
.header-actions--left {
  display:none!important;
}
  
  .header-nav-list {
    justify-content: flex-start!important;
    width: 100%;
}
// NAV
.header-nav {
    background:@darkblue;
padding:0;
    margin-top:0!important;
  .header-nav-wrapper {
  text-align:left;
  padding:0 8vw;
    .header-nav-item {
      padding: 15px 30px;
      margin:0;
      &--active {
        background:rgba(255, 255, 255, 0.1)
      }
       /*Remove left margin of first item if it's not active to always line nav with left edge*/
    &:first-of-type {
    &:not(.header-nav-item--active) {
      padding-left: 0!important;
    }
  }
      &:last-child {
    margin-left: auto!important;
}
    }
  }   
}

.header-nav {
    flex: 0 0 100%!important;
}
  .header-title-nav-wrapper {
    margin-left:0;
    // LOOGO
.header-title {
    text-align: left;
  display:flex;
  justify-content:space-between;
    padding-left: 8vw;
    padding-right: 8vw;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
  // BUTTON CART ETC
  .header-elements {
    display:flex;
      flex-wrap:wrap;
    align-items:center;
      gap:2vw;
    .user-accounts-link {
      span {
      color:@darkblue;
      }
    }
  }
}
  }
      // CONTACT BUTTON
    .header-actions--right {
      flex:1 0 30%;
      padding-right:8vw!important;
      .btn {
        font-size:0.9rem!important;
        
      }
    }
}
}
//// MOBILE
// HEADER
.header-display-mobile {
  background:@white;
  padding:6vw;
  .burger-inner {
    .top-bun,.patty,.bottom-bun {
      background:@darkblue!important;
    }
  }
}
// NAV MENU
.header-menu-nav-item a {
  @media @mobile {
    font-size:1.7rem;
  }
}

// HEADER DARK MODE
.header--dark-mode {
  /*Temp logo white*/
  .header-title-logo {
    filter:brightness(100);
  }
  .header-display-desktop {
    background:@charcoal;
  }
  .header-display-mobile {
    background:@charcoal;
  }
.header-title {
  background:@charcoal;
}

// HAMBURGER
.burger-inner {
  .top-bun,.patty,.bottom-bun {
    background:@white!important;
  }
}

.header-nav-wrapper {
  background:white;
  .header-nav-item {
     &--active {
        background:@darkblue!important;
      }
    a {
      color:@darkblue!important;
    }
  }
  .header-nav-item--active {
    a {
      color:white!important;
    }
  }
}
}


//Mobile menu appears//
.release-the-burger {
  .header .header-burger {
    display:flex;
  } 
.header-nav, .header-actions {
  display:none
  } 
&.header--menu-open .header-menu { opacity: 1; 
  visibility: visible;
  }
}


// FOLDER ICONS
.header-nav-item--folder {
  .header-nav-folder-title {
  .folder-title-arrow-container {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
  
    .folder-title-arrow {
      width: 12px;
      height: 8px;
  
      path {
        fill: @charcoal;
      }
    }
  }
  }
}

/*Menu hover*/
.header-nav-list {
  .header-nav-item a {
    &:hover {
      color:@orange!important;
    }
  }
  /*folder icon hover colour*/
.header-nav-item--folder:hover {
  .header-nav-folder-title {
    .folder-title-arrow {
      path {
        fill: @orange;
      }
    }
  }
  }
}

/*Active folder icon*/
.header-nav-item--folder.header-nav-item--active {
  .header-nav-folder-title {
    .folder-title-arrow {
      path {
        fill: @orange;
      }
    }
  }
}

// FOLDER
.header-nav-folder-content {
  background:@white!important;
  padding:30px!important;
  min-width:150px!important;
  right: auto!important;
    left: -1em!important;
    text-align: left!important;
}
}

/////////////////////////////////////// CART
///////////////////////////////////////
#cart {
  .cart-title {
    font-size: 2rem;
    color: @darkblue;
    margin-bottom:30px;
}

.empty-message {
    font-size:1.2rem;
    margin-bottom:50px;
}
}

/////////////////////////////////////// MOBILE MENU
///////////////////////////////////////





/////////////////////////////////////// FOOTER
///////////////////////////////////////
//// MAIN FOOTER ////
#siteWrapper {
.sh-footer {
  // LINKS
  [data-block-type="2"] {
  .sqsrte-small {
      display:flex;
      flex-wrap:wrap;
      gap:30px;
  }
}
  // COPYRIGHT
[data-squarehero="footer-copyright"] {
  text-align:right;
  @media @mobile {
    text-align:left;
  }
  p {
    text-align:right;
    @media @mobile {
    text-align:left;
  }
    a {
      color:@white;
      text-decoration:underline;
      text-underline-offset: .2em;
    }
  }
}
  h4 {
    margin-bottom:20px;
    margin-top:0!important;
  }
   
 // NEWSLETTER
  .newsletter-form {
  .newsletter-form-footnote {
    display:none!important;
  }
  .newsletter-form-body {
    @media @mobile {
      display:block;
    }
    display: flex;
    gap: 20px;
    .newsletter-form-fields-wrapper.form-fields {
      flex: 1;
  }
  .newsletter-form-field-wrapper {
    width: 100%!important;
}
  
}
  input {
    padding-top:var(--tertiary-button-padding-y)!important;
    padding-bottom:var(--tertiary-button-padding-y)!important;
    line-height:1.6rem!important;
  }
    /*Button*/
    .newsletter-form-button {
      background:none!important;
      border:solid 2px @orange;
      color:@orange!important;
      padding:var(--tertiary-button-padding-y) var(--tertiary-button-padding-x)!important;
  font-size: var(--tertiary-button-font-font-size-value)!important;
      .newsletter-form-button-label {
      font-size: var(--tertiary-button-font-font-size-value)!important;
        line-height:1.6rem;
      }
    }
  .newsletter-form-header-title {
    font-size: 1.375rem!important;
font-weight: 600;
line-height: 115%;
    color:@orange;
  }

.newsletter-form-body {
  padding-bottom:0!important;
}

.newsletter-form-fields-wrapper.form-fields {
    flex: 1;
}
  }
  //// INSTAGRAM
  .instagram-block {
    .sqs-blockStatus {
      display:none!important;
    }
  .sqs-block-content {
    margin-bottom: 0;
    .sqs-gallery-container {
      .sqs-gallery {
      .slide {
        &:nth-child(n+4) {
          display: none !important;
        }
        @media @mobile {
          &:nth-child(n+3) {
          display: none !important;
        }
        }
      }
      }
     
    }
  }
  }
  // FAUX IMAGES TO MAKE IT LOOK CONNECTED
  .sqs-block-is-placeholder {
  .slide {
    position: relative;
    padding-top:0!important;
    height:100%!important;
    .image-slide-anchor {
      position:relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1000;
    }
    }
    // PLACEHOLDER IMAGES
    /*Slide 1*/
    &:nth-of-type(1) {
          .image-slide-anchor:before {
      background-image: url('https://cdn.jsdelivr.net/gh/squarehero-store/cornerstone-builders@main/images/instagram-placeholder-1.jpg');
      background-position:center;
    }
    }
    /*Slide 2*/
    &:nth-of-type(2) {
          .image-slide-anchor:before {
      background-image: url('https://cdn.jsdelivr.net/gh/squarehero-store/cornerstone-builders@main/images/instagram-placeholder-2.jpg');
      background-position:center;
    }
    }
    /*Slide 3*/
    &:nth-of-type(3) {
          .image-slide-anchor:before {
      background-image: url('https://cdn.jsdelivr.net/gh/squarehero-store/cornerstone-builders@main/images/instagram-placeholder-3.jpg');
      background-position:center;
    }
    }
  }
}
}
}


/////////////////////////////////////// CTA
///////////////////////////////////////

/*Make form section display in edit mode so you can... edit it*/
body:not(.sqs-edit-mode-active) {
.sh-cta-form {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
}

/*Turn link into button because button block drops outside the text background :(*/
.sh-cta {
  p {
    a {
      background:@orange;
      color:white!important;
      display:inline-block;
      font-weight: var(--primary-button-font-font-weight);
      font-size: var(--tertiary-button-font-font-size-value)!important;
      @media @mobile {
        display:block;
        text-align:center;
      }
      text-decoration:none;
      padding:var(--tertiary-button-padding-y) var(--tertiary-button-padding-x)!important;
  font-size: var(--tertiary-button-font-font-size-value)!important;
    }
  }
}

.sh-cta-form.active {
  display: block;
  max-height: 2000px; /* Adjust this value based on your form's maximum possible height */
}

/////////////////////////////////////// HOME PAGE
///////////////////////////////////////
//// HERO ////
.sh-hero {
  .content-wrapper {
    padding-top:0!important;
    padding-bottom:0!important;
  }
  .sqs-background-enabled {
    padding-left:8vw!important;
  }
  .ImgZoom;
}

//// LIST SECTION ////
.user-items-list {
      padding-top:100px!important;
    padding-bottom:100px!important;
  @media @mobile {
    padding-top:60px!important;
    padding-bottom:60px!important;
  }
    /*Title*/
  .list-section-title {
    strong {
      font-size:2.25rem;
      font-weight:600;
      @media @mobile {
        font-size:1.8rem;
      }
      margin-bottom:20px;
      display:block;
    }
    p {
      font-size: 1.05rem;
font-style: normal;
font-weight: 400;
line-height: 140%; 
    }
  }
  .list-item {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
  /*Content*/
  .list-item-content {
    padding:30px;
    /*Button*/
    .list-item-content__button {
      background:none!important;
      border:2px solid @darkblue!important;
      color:@darkblue!important;
      &:hover {
        background:@darkblue!important;
        color:white!important;
      }
    }
  }
  }
}

//// FEATURED PORTFOLIO ////
#sh-featured-portfolio {
  width:100%;
  overflow:hidden;
  .sh-blog-post-grid {
    display: grid;
    grid-template-columns: ~"repeat(3, 1fr)";
    @media @mobile {
      grid-template-columns: ~"repeat(1, 1fr)";
    }
    @media only screen and (max-width:1200px) {
    grid-template-columns: ~"repeat(2, 1fr)";
    }
    gap: 30px;
  }
  .sh-blog-post-item {
    display: block;
    position: relative;
    aspect-ratio: 3/2;
    overflow: hidden;
    text-decoration: none;
    @media @mobile {
      &:nth-child(n+3) {
        display:none!important;
      }
    }
    @media only screen and (max-width:1200px) {
      &:nth-child(n+3) {
        display:none!important;
      }
    }
  }
  .sh-blog-post-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 70.2%, rgba(0, 0, 0, 0.80) 99.79%);
    }
  }
  .sh-blog-post-title {
    position: absolute;
    bottom: 20px;
    left:0;
    width:100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.05rem;
    font-weight: 600;
    margin: 0;
    z-index: 1;
    color: @white;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
     white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.2em; 
  line-height: 1.2em;
  box-sizing:border-box;
  }
  // Add hover effects
  .sh-blog-post-item:hover {
    .sh-blog-post-image {
      transform: scale(1.1);
    }
  }
}

//// TESTIMONIALS ////
.sh-testimonials {
  .content-wrapper {
    padding-top:0!important;
  }
  // IMAGE
  .ImgShape(4/3);
  // CAROUSEL
  h2 {
    margin-bottom:50px!important;
  }
 #sh-testimonials {
    position: relative;
    .testimonial {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease-in-out, visibility 1s;

        &.active {
            position: relative;
            opacity: 1;
            visibility: visible;
        }
    }

    .testimonial-title {
        font-size: 1.25rem;
        font-weight: 700;
        margin-top: 0; // Remove default margin
    }

    .testimonial-body {
    }
}
}

/////////////////////////////////////// CUSTOM HOMES
///////////////////////////////////////

//// FAQ ////
.sh-faq {
  .content-wrapper {
    padding-top:0!important;
    // ACCORDIONS
    .accordion-item {
      padding:0 30px;
      background:@white;
      margin-bottom:30px;
    }
  }  
}
//// FEATURED PORTFOLIO ////
.sh-featured-portfolio-mini {
.sh-blog-post-grid {
    display: grid;
    grid-template-columns: ~"repeat(2, 1fr)"!important;
  @media @mobile {
    grid-template-columns: ~"repeat(1, 1fr)"!important;
  }
    gap: 30px;
  }
}


/////////////////////////////////////// PORTFOLIO PAGE
///////////////////////////////////////
//// PORTFOLIO GRID STYLES ////
.PortfolioStyles {
  #portfolioContainer {
    // Variables
    @grid-gap: 20px;
    @transition-duration: 0.3s;
  
    .portfolio-grid {
        display: grid;
        grid-template-columns: ~"repeat(3, 1fr)";
        gap: @grid-gap
    }

    .portfolio-item {
        position: relative;
        overflow: hidden;
        grid-column: span 1;
        
        img {
          aspect-ratio:3/2;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform @transition-duration ease;
        }
        
        &:hover img {
            transform: scale(1.1);
        }
        
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.80) 100%);
            pointer-events: none;
        }
        
        h2 {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            color: white;
            margin: 0;
            z-index: 1;
            font-size: 1.4rem;
            line-height: 140%;
            font-weight: 600;
           white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.2em; 
  line-height: 1.2em;
        }
    }

   
    // Responsive adjustments
    @media (max-width: 768px) {
        .portfolio-grid {
            grid-template-columns: 1fr;

            &:not(.filtered) {
                .portfolio-item {
                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        grid-column: span 1;
                        grid-row: span 1;
                    }
                }
            }
        }
    }
  }
  }
//// LIST PAGE ////
.portfolio-page.view-list {
    // Variables
    @grid-gap: 20px;
    @transition-duration: 0.3s;
  
  // HEADER
   .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
	   @media @mobile {
        display:block;
      }
    h1 {
      font-size: 2.5rem;
      margin: 0;
      @media @mobile {
        margin-bottom:20px;
      }
    }

    .filter-container {
      display: flex;
      gap: 20px;
      
    }

    .filter-item {
      
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width:250px;
      .filter-label {
        font-weight: 700;
	line-height: 140%; 
      display: block;
      font-size: 1rem;
      font-weight: 700;
      line-height: 140%;
      margin-bottom: 10px;
      }
      select {
    width: 100%;
    padding: 18px 12px;
    background: white;
    border:none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.792969 5.32486L2.20718 3.91064L8.00008 9.70354L13.793 3.91064L15.2072 5.32486L8.00008 12.532L0.792969 5.32486Z' fill='%231A1A1A'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
      }
    }
  }

    .portfolio-grid {
        display: grid;
        grid-template-columns: ~"repeat(3, 1fr)";
        gap: @grid-gap;

        &:not(.filtered) {
            .portfolio-item {
                &:nth-of-type(1) {
                    grid-column: span 2;
                    grid-row: span 2;
                }
                
                &:nth-of-type(2) {
                    grid-row: span 2;
                }
            }
        }

        &.filtered {
            .portfolio-item {
                aspect-ratio: 3/2;
            }
        }
    }

     .portfolio-item {
        position: relative;
        overflow: hidden;
        grid-column: span 1;
        
        img {
            aspect-ratio: 3/2;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform @transition-duration ease;
        }
        
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
        
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.80) 100%);
            pointer-events: none;
        }
        
        h2 {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            color: white;
            margin: 0;
            z-index: 1;
            font-size: 1.4rem;
            line-height: 140%;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
       }
    }

   
    // Responsive adjustments
    @media (max-width: 768px) {
        .portfolio-grid {
            grid-template-columns: 1fr;

            &:not(.filtered) {
                .portfolio-item {
                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        grid-column: span 1;
                        grid-row: span 1;
                    }
                }
            }
        }
    }
  // HIDE DEFAULT GRID
.content-collection {
  display:none;
}
}
//// ITEM PAGE ////
.portfolio-page.view-item {
  .content-collection {
    padding-top:0!important;
    .content-wrapper {
      padding:0!important;
      .blog-item-content-wrapper {
        order:3;
      }
    }
  }
  .blog-item-content {
    margin-bottom:0;
  }
  .blog-item-meta-wrapper {
    display:none;
  }
  .blog-item-top-wrapper {
    text-align:unset;
    // TITLE
    h1 {
      margin-bottom:50px;
    }
  }
  .blog-item-inner-wrapper {
    width:100%;
  }
// HERO BANNER
  .portfolio-banner {
    overflow:hidden;
    height:70vh;
    @media @mobile {
      height:40vh;
    }
    img {
      animation: zoomInOut 20s ease-in-out infinite;
      width:100%;
      height:100%;
      object-position:center;
      object-fit:cover;
    }
  }
  .blog-item-comments {
    display:none;
  }
  // GALLERY
  article.entry {
  .sqs-gallery-container {
    margin-top:100px;
    @media @mobile {
      margin-top:0;
    }
    .sqs-gallery-design-grid {
   display:grid;
      box-sizing:border-box;
      overflow:hidden;
    gap:30px;
    grid-template-columns: ~"repeat(2, 1fr)";
    .slide {
      float:unset!important;
      overflow:hidden;
      width:100%!important;
      box-sizing:border-box;
      clear:none!important;
      grid-column: span 1;
      @media @mobile {
        grid-column:span 2;
      }
      .image-slider-anchor {
        padding-bottom:50%!important;
      }
      .margin-wrapper {
        margin:0!important;
        .image-slide-anchor {
        padding-bottom:66%;
      }
      }
      /*First image*/
      &:nth-of-type(3n-2) {
        @media @tablet-desktop {
        grid-column: span 2;
        }
        .image-slide-anchor {
        padding-bottom:50%;
      }
      }
    }
    }
  }
  }
}

// RELATED PROJECTS
.sh-related-projects {
  box-sizing:border-box;
  background:@lightgrey;
  width:100%;
  padding:100px 8vw;
  overflow:hidden;
  .PortfolioStyles;
}


///////////////////////////////////// WHY US
/////////////////////////////////////

//// TIMELINE ////
.timeline-page {
  .user-items-list-section {
    .user-items-list {
        overflow:hidden;
      width:100%;
    }
    /* General timeline styling */
    .timeline-container {
      position: relative;
      width: 100%!important;
      box-sizing:border-box;
      margin: 0 auto;
      padding: 20px 0;
      overflow:hidden;
      
      .timeline {
        position: absolute;
        width: 2px;
        background: @darkblue;
        top: 40px!important;
        bottom: 0;
        height: 0;
        left:50%;
        @media @mobile {
          left: 10vw!important;
        }
        margin-left: -1px;
      }
      
      .timeline-item {
        position: relative;
        width: 50%;
        padding: 20px 40px;
        box-sizing: border-box;
        
        &:nth-of-type(1) {
          padding-top: 0 !important;
        }
        
        h2 {
          margin-top: 0;
          color: @darkblue;
        }
        
        .preFade {
          opacity: 1 !important;
        }
        
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #fff;
          border: 2px solid #000;
        }
        
        &:nth-child(even) {
          left: 50%;
          text-align: left;
          &::before {
            left: -12px;
          }
        }
        
        &:nth-child(odd) {
          left: 0;
          text-align: right;
          &::before {
            right: -12px;
          }
        }
        
        .list-item-media {
          img {
            width: 100%;
            height: auto;
            aspect-ratio: 3/2;
            object-fit: cover;
          }
        }
      }
    }
    
    /* Mobile-specific styles */
    @media screen and (max-width: 767px) {
      .timeline-container {
        width: 100%;
        padding: 20px;
        
        .timeline {
          left: 20px;
          margin-left: 0;
        }
        
        .timeline-item {
          width: 100%;
          padding: 0 0 30px 40px;
          text-align: left;
          
          &::before {
            left: 11px;
            top: 0;
            transform: none;
          }
          
          &:nth-child(even),
          &:nth-child(odd) {
            left: 0;
            text-align: left;
            
            &::before {
              left: 11px;
              right: auto;
            }
          }
        }
      }
    }
  }
}

///////////////////////////////////// BLOG
/////////////////////////////////////
//// LISTING PAGE ////
.blog-page.view-list {
.sh-blog-intro {
  .content-wrapper {
    padding-bottom:0!important;
  } 
}
  .content-collection {
    .content-wrapper {
    padding-top:0!important;
      padding-bottom:0!important;
    }
  }
  /*Buttons*/
  .blog-more-link {
    padding-left:0!important;
  }
}

//// BLOG PAGE ////
.blog-page.view-item {
  // BANNER
  .blog-banner {
  position: relative;
  width: 100%;
  overflow: hidden;

  .blog-banner-wrapper {
    position: relative;
    width: 100%;
    height: 70vh;

    @media @mobile {
      height: auto;
      min-height: 40vh;
    }
  }

  .blog-banner-image {
    width: 100%;
    height: 100%;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      animation: zoomInOut 20s ease-in-out infinite;
    }
  }

  .banner-overlay {
    position: absolute;
    opacity: 0.95;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 60%;
    padding: 40px 0 40px 8vw;
    background-color: @darkblue;

    @media @mobile {
      width: 100%;
      opacity: 1;
      position: relative;
      bottom: auto;
      box-sizing: border-box;
      padding: 20px 8vw;
    }

    h1 {
      color: @white;
      margin: 0;
      padding: 0;

      @media @mobile {
        font-size: 1.5rem;
      }
    }
  }
}
      .content-collection {
      padding-top:0!important;
        .content-wrapper {
          padding-top:0!important;
        }
    }
	// ARTICLE
  article.entry {
    padding:0;
    .blog-item-inner-wrapper {
      margin:0;
      .blog-item-content-wrapper {
        margin:100px 8vw;
        @media @mobile {
          margin:60px 8vw;
        }
      }
    }
  }
}

/////////// PROPERTY LISTING PLUGIN //////
// ===============================================
//   ⚡ SquareHero Property Listings  ⚡
// ===============================================

//MOBILE BREAK POINTS
@mobile:          ~"only screen and (max-width: 750px)";
@tablet: ~"only screen and (min-width:751px) and (max-width:1200px)";
@tablet-strict:   ~"only screen and (min-width: 751px) and (max-width: 949px)";
@tablet-desktop:  ~"only screen and (min-width: 751px)";
@desktop:         ~"only screen and (min-width: 950px)";
@desktop-strict:  ~"only screen and (min-width: 950px) and (max-width: 1199px)";
@desktop-xl:      ~"only screen and (min-width: 1200px)";
@awkward: ~"only screen and (max-width:1350px) and (min-width:1000px)";

// FADE ANIMATION
.FadeTransition {
    //Color fade//
    -moz-transition: all .15s ease-in;
      -o-transition: all .15s ease-in;
      -webkit-transition: all .15s ease-in;
      transition: all .15s ease-in;
  }

//Colours//
@white:#FFFFFF;
@lightgrey:#F5F5F5;
@orange:#F29C13;
@darkblue:#12203A;
@charcoal:#0A1221;
@darkblue:#011e45;

//Font families//
@header:var(--heading-font-font-family);
@body:var(--body-font-font-family);

// PROPERTY STYLES
.propertyStyles {
    padding:30px 20px;
       /*Title*/
     .property-title {
       margin: 0;
       font-size: 1.2em;
     }
       /*Location*/
       .property-location {
       margin:0;
       }
       /*Price*/
       .property-price {
         margin:20px 0 0;
       }
       /*icons*/
     .property-details {
       display: flex;
       justify-content: flex-start;
       gap:15px;
       margin: 15px 0;
 
       .details-icon {
         display: flex;
         align-items: center;
         justify-content:center;
         font-size: 0.9em;
 
         img {
           width: 20px;
           height: 20px;
           margin-right: 5px;
         }
       }
     }
     // BUTTON
     .sh-button {
       display:inline-block;
       border: solid 1px @darkblue;
       text-decoration: none;
       transition: background 0.3s;
       padding: 0.8125rem 1.625rem !important;
       &:hover {
         background: @darkblue;
         color:@white;
       }
     }
 }

//// PLUGIN ////

// Hide default blog grid
.property-listings.view-list {
  .collection-type-blog-basic-grid {
    display:none;
  }
}
#propertyListingsContainer,.related-properties-section {
  .property-grid {
    display: grid;
    grid-template-columns: ~"repeat(3, 1fr)";
    @media @mobile {
      grid-template-columns: ~"repeat(1, 1fr)";
    }
    gap: 30px;
    padding: 20px 0 0 0;
  }
  // CARD
  .property-card {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background: #fff;
    .property-image {
      position: relative;
      padding-top: 66.67%;
      overflow:hidden;
      img {
        .FadeTransition;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
		// CATEGORY
      .property-category {
        position: absolute;
        top: 20px;
        left: 0;
        background: @darkblue;
        color:@white;
        padding: 5px 20px;
        font-size: 0.8em;
        font-weight:600;
      }
    }
    // DETAILS
    .listing-content {
     .propertyStyles;
    }
          &:hover {
        .property-image img {
          transform:scale(1.1);
        }
      }
  }
  //// FILTERS
  .filters-container {
    display:grid;
    grid-template-columns: ~"repeat(auto-fit, minmax(250px, 1fr))";
  gap: 30px 50px;
    margin-bottom: 30px;
  }

  .filter-group {
    label {
      display: block;
      font-size: 1rem;
      font-weight: 700;
      line-height: 140%;
      margin-bottom: 10px;
    }
  }

  .dropdown-filter {
    width: 100%;
    padding: 18px 12px;
    background: white;
    border:none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.792969 5.32486L2.20718 3.91064L8.00008 9.70354L13.793 3.91064L15.2072 5.32486L8.00008 12.532L0.792969 5.32486Z' fill='%231A1A1A'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
  }

  .button-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .filter-button {
      padding: 7px 15px;
      border-radius: 16px;
      background: var(--Grey, #DCDCDC);
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 140%;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &.active {
        background-color: @darkblue;
        color: white;
      }
    }
  }
  
 

  .range-slider {
    height: 8px;
    background: @darkblue;
    border-radius: 4px;
    margin-top: 20px;
    .noUi-connects {
      background:@lightgrey;
    .noUi-connect {
      background: @darkblue;
    }
    }
    .noUi-handle {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: @darkblue;
      box-shadow: none;
      border: none;
      cursor: pointer;
      top: -5px;
      right: -9px;

      &::before, &::after {
        display: none;
      }

      span {
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1rem;
        font-weight: 400;
        line-height: 140%;
        white-space: nowrap;
      }
  }
}
  .slider-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      margin-bottom:0;
    }
}

.range-display {
    font-size: 0.9em;
}
}

@media (max-width: 1024px) {
  #propertyListingsContainer .property-grid {
    grid-template-columns: ~"repeat(2, 1fr)";
  }
}

@media (max-width: 768px) {
  #propertyListingsContainer .property-grid {
    grid-template-columns: 1fr;
  }
}

//// PROPERTY ////
.property-listings.view-item {
    // BANNER
  .blog-banner {
    width:100%;
    height:75vh;
    padding-top:0!important;
    @media @mobile {
      height:40vh;
    }
    overflow:hidden;
    .blog-banner-image {
      width:100%;
      height:100%;
      object-fit:cover;
      object-position:50% 50%;
    }
  }
  .content-collection {
    padding-top:100px!important;
  }
  #page {
      .content-wrapper {
    padding:0!important;
  }
    .blog-item-inner-wrapper {
      width:100%;
      display:flex;
      margin-left:0;
      gap:120px;
      @media @mobile {
        display:block;
      }
      // LEFT COL
      .blog-item-top-wrapper {
        flex:0 0 25%;
        @media @mobile {
          flex:0 0 100%;
        }
       text-align:left;
        /*Property details*/
        .blog-item-meta-wrapper {
          display:none;
        }
        .listing-content {
          .propertyStyles;
          padding:0;
        }
        .sh-button {
          background:@orange;
          margin-top:20px;
          text-align:center;
          display:inline-block!important;
          order:4;
        }
        .item-excerpt {
          p {
            margin-bottom:0;
          }
          order:3;
          a {
            display:block!important;
            text-align:center;
            font-size: 1rem;
font-weight: 600;
line-height: normal;
            border:solid 2px @darkblue;
            padding:var(--tertiary-button-padding-y) var(--tertiary-button-padding-x)!important;
  font-size: var(--tertiary-button-font-font-size-value)!important;
            color:@darkblue;
          }
        }
      }
    }
    // RIGHT COL
  .entry {
    padding-top:0!important;
    .blog-meta-item {
      display:none;
    }
  }
     //// GALLERY
    .gallery-section {
      padding:0 8vw 100px 8vw;
  .sqs-gallery-block-stacked {
  .sqs-gallery {
    display: grid;
    grid-template-columns: ~"repeat(2, 1fr)";
    gap: 30px;
    .image-wrapper {
      width: 100%;
      grid-column: span 1;
      height: 0;
      padding-bottom: 65%;
      overflow: hidden;
      position:relative;
      img {
        height: auto;
        width: 100%;
        position:absolute;
      }
      
      &:first-of-type {
        grid-column: span 2 !important;
      }
    }
  }
}
    }
  //// RELATED PROPERITES
  .related-properties-section {
    background:@lightgrey;
    padding:100px 8vw;
    box-sizing:border-box;
  }
  }
}